<style>
  body {background-color: #F5F6F5;}
</style>
<h4 class="fontColorStyle mt-2">Edit Proposal</h4>
<hr>
<form action="/groups/edit/{{group.id}}?_method=PUT" method="POST" onsubmit="updateBtn.disabled = true; return true;">
    <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control col-md-4" name="groupName" id="groupName" value="{{group.name}}">
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="groupDateFrom">Arrival Date</label>
            <input type="date" name="groupDateFrom" class="form-control" id="groupDateFrom" value="{{group.dateFrom}}">
        </div>
        <div class="form-group col-md-4">  
            <label for="groupDateTo">Departure Date</label>
            <input type="date" name="groupDateTo" class="form-control" id="groupDateTo" value="{{group.dateTo}}">
        </div>
    </div>


    <div id="insertFormDynamically"></div>

    <div><button id="addBtn" type="button" class="btn btn-secondary mt-2" onclick="addInput()"><i class="fas fa-plus"></i>  Room Type</button></div>

    <div class="form-row mt-3">
    <div class="form-group col-md-2">
        <label for="sourceOfBusiness">Source of Business</label>
        <select id="sourceOfBusiness" class="form-control" name="sourceOfBusiness">
            <option selected disabled>Choose...</option>
            <option>Phone</option>
            <option>Contact Form Submission</option>
            <option>Repeat Guest</option>
      </select>
    </div>

    <div class="form-group col-md-2">
        <label for="marketType">Market Type</label>
        <select id="marketType" class="form-control" name="marketType">
            <option selected disabled>Choose...</option>
            <option>Corporate</option>
            <option>SMERF</option>
            <option>Wedding</option>
            <option>Other</option>
        </select>
    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="decisionDueDate"><i class="far fa-calendar-times"></i> Decision Due Date</label>
            <input type="date" name="decisionDueDate" class="form-control" id="decisionDueDate" value="{{group.decisionDueDate}}">
        </div>

        <div class="form-group col-md-2">
            <label for="cutOffDate"><i class="fas fa-stopwatch"></i> Cut-off Date</label>
            <input type="date" name="cutOffDate" class="form-control" id="cutOffDate" value="{{group.cutOffDate}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 col-xs-2">
        <label for="attritionPercentage">Attrition Percent</label>
        <input id="attritionPercentage" type="number" class="form-control" name="attritionPercentage" placeholder="%" min="0" value="{{group.attritionPercentage}}">  
        </div>
    </div>

    <div class="form-group">
        <label>Conference Space:  </label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="conferenceOption" id="conferenceYes" value="Yes">
            <label class="form-check-label" for="conferenceYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="conferenceOption" id="conferenceNo" value="No">
            <label class="form-check-label" for="conferenceNo">No</label>
        </div>
    </div>

    <div id="conferenceRevenue" class="form-row hidden">
        <div class="form-group col-xs-2">
            <label for="conferenceRevenue">Cost</label>
            <input id="conferenceRevenueInput" type="number" class="form-control" name="conferenceRevenue" value="0" placeholder="$" step="0.01" min="0">
        </div>
    </div>

    <div class="form-group">
        <label id="concessionLabel" for="concessionField"><i class="far fa-handshake"></i> Concessions:</label>
        <textarea class="form-control" name="concessionField" id="concessionField" rows="3">{{group.concessionField}}</textarea>
    </div> 

    <div class="form-group">
        <label class="notesStyle" for="otherNotes"><i class="fas fa-pencil-alt"></i> Notes:</label>
        <textarea class="form-control notesStyle" name="otherNotes" id="otherNotes" rows="3">{{group.otherNotes}}</textarea>
    </div> 

  <button id="updateBtn" type="submit" class="btn btn-primary mt-2 mb-5">Update</button>
</form>

<script>
    let holdingContainer = document.getElementById('insertFormDynamically');
    let checkLen = '{{group.roomType.length}}';
    let updateBtn = document.getElementById('updateBtn');
    let addBtn = document.getElementById('addBtn');
    
    // Set Source of Business
    let sourceOfBusiness = '{{group.sourceOfBusiness}}';
    let sourceOfBusinessSelect = document.getElementById('sourceOfBusiness');
    sourceOfBusinessSelect.value = sourceOfBusiness;

    // Set Market Type
    let marketType = '{{group.marketType}}'
    let marketTypeSelect = document.getElementById('marketType');
    marketTypeSelect.value = marketType;

    // create div and add fields
    if(checkLen > 0) {
        for(let i = 0; i < checkLen; i++) {
            let container = document.createElement('div');
            container.innerHTML = `
                <div class="form-row" id="row-${i}">
                        <div class="form-group col-md-2">
                            <label for="roomTypeSelect-${i}">Room Type</label>
                            <select id="roomTypeSelect-${i}" class="form-control" name="roomTypeSelect-${i}">
                                <option selected disabled>Choose...</option>
                                <option value="LDG">LDG</option>
                                <option value="PS">PS</option>
                                <option value="TOF">TOF</option>
                                <option value="DOF">DOF</option>
                                <option value="Villa">Villa</option>
                                <option value="OfVilla">OF Villa</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 col-xs-2">
                            <label for="bestAvailableRate-${i}">BAR Rate</label>
                            <input id="bestAvailableRate-${i}" type="number" class="form-control" name="bestAvailableRate-${i}" placeholder="$" min="0">  
                        </div>
                        <div class="form-group col-md-2 col-xs-2">
                            <label for="discountPercentage-${i}">Discount %</label>
                            <input id="discountPercentage-${i}" type="number" class="form-control" name="discountPercentage-${i}" placeholder="%" step="0.01" min="0" value=0>  
                        </div>
                        <div class="form-group col-md-2 col-xs-2">
                            <label for="purposedRate-${i}">Purposed Rate</label>
                            <input id="purposedRate-${i}" type="number" class="form-control" name="purposedRate-${i}" step="0.01" placeholder="$" value="">  
                        </div>
                        <div class="form-group col-md-2 col-xs-2">
                            <label for="roomsPerNight-${i}">Rooms per Night</label>
                            <input id="roomsPerNight-${i}" type="number" class="form-control" name="roomsPerNight-${i}" placeholder="#">
                        </div>
                        <button id="removeBtn-${i}" type="button" class="btn btn-secondary btn-sm ml-2 deleteBtnStyle" onclick="removeInput(${i})"><i class="fas fa-trash-alt deleteTrashIconStyle"></i></button>
                    </div>
            `;
            insertAfter(container,holdingContainer);
        }
    }
    // populate fields
    let rateValues = '{{group.purposedRate}}',
        rateArray = rateValues.split(','),
        roomsValues = '{{group.roomsPerNight}}',
        roomsArray = roomsValues.split(','),
        typeValues = '{{group.roomType}}',
        typeArray = typeValues.split(','),
        discountValues = '{{group.discountPercentage}}',
        discountArray = discountValues.split(','),
        bestAvailableValues = '{{group.bestAvailableRate}}',
        bestAvailableArray = bestAvailableValues.split(',');
    for(let i = 0; i < checkLen; i++) {
        let purposedRateInput = document.getElementById('purposedRate-' + i);
        let roomsPerNightInput = document.getElementById('roomsPerNight-' + i);
        let roomTypeInput = document.getElementById('roomTypeSelect-' + i);
        let discountPercentageInput = document.getElementById('discountPercentage-' + i);
        let bestAvailableInput = document.getElementById('bestAvailableRate-' + i);
        roomTypeInput.value = typeArray[i];
        purposedRateInput.value = rateArray[i];
        roomsPerNightInput.value = roomsArray[i];
        discountPercentageInput.value = discountArray[i];
        bestAvailableInput.value = bestAvailableArray[i];
    }   
            
    function removeInput(id) {
        let rowToRemove = document.getElementById("row-" + id);
        removeFadeOut(rowToRemove, 1000);
        checkLen--;
       if(checkLen === 0) updateBtn.disabled = true;
    }

    function addInput() {
        let i = checkLen;
        checkLen++;
        i++;
      
        let container = document.createElement('div');
        container.innerHTML = `
            <div class="form-row" id="row-${i}">
                <div class="form-group col-md-2">
                    <label for="roomTypeSelect-${i}">Room Type</label>
                    <select id="roomTypeSelect-${i}" class="form-control" name="roomTypeSelect-${i}">
                        <option selected disabled>Choose...</option>
                        <option value="LDG">LDG</option>
                        <option value="PS">PS</option>
                        <option value="TOF">TOF</option>
                        <option value="DOF">DOF</option>
                        <option value="Villa">Villa</option>
                        <option value="OfVilla">OF Villa</option>
                    </select>
                </div>
                <div class="form-group col-md-2 col-xs-2">
                    <label for="bestAvailableRate-${i}">BAR Rate</label>
                    <input id="bestAvailableRate-${i}" type="number" class="form-control" name="bestAvailableRate-${i}" placeholder="$" min="0">  
                </div>
                <div class="form-group col-md-2 col-xs-2">
                    <label for="discountPercentage-${i}">Discount %</label>
                    <input id="discountPercentage-${i}" type="number" class="form-control" name="discountPercentage-${i}" step="0.01" placeholder="%" min="0" value=0>  
                </div>
                <div class="form-group col-md-2 col-xs-2">
                <label for="purposedRate-${i}">Purposed Rate</label>
                <input id="purposedRate-${i}" type="number" class="form-control" name="purposedRate-${i}" placeholder="$" step="0.01" value="" min="0">  
                </div>
                <div class="form-group col-md-2 col-xs-2">
                <label for="roomsPerNight-${i}">Rooms per Night</label>
                <input id="roomsPerNight-${i}" type="number" class="form-control" name="roomsPerNight-${i}" placeholder="#" min="0">
                </div>
                <button id="removeBtn-${i}" type="button" class="btn btn-secondary btn-sm ml-2 deleteBtnStyle" onclick="removeInput(${i})"><i class="fas fa-trash-alt deleteTrashIconStyle"></i></button>
            </div>
            `;
        insertAfter(container,holdingContainer);
        if(checkLen > 0) updateBtn.disabled = false;
    }
    function insertAfter(newNode, referenceNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    
    // Configure radio button actions
    let value = '{{group.conferenceSpace}}';
    let conferenceRevenue = document.getElementById('conferenceRevenue');
    let conferenceRevenueInput = document.getElementById('conferenceRevenueInput');
    function checkYes() {
        document.getElementById("conferenceYes").checked = true;
        // add group rev field and populate data
        conferenceRevenue.classList.remove('hidden');
        conferenceRevenueInput.value = '{{group.conferenceRevenue}}'
    } 
    function checkNo() {
        document.getElementById("conferenceNo").checked = true;
    }         
    if(value === 'Yes') checkYes();
    if(value === 'No') checkNo();

    // toggle hidden class on revenue input field

    let conferenceYes = document.getElementById('conferenceYes');
    let conferenceNo = document.getElementById('conferenceNo');
    conferenceYes.addEventListener('click', toggleCoferenceRevenueInput);
    conferenceNo.addEventListener('click', toggleCoferenceRevenueInput);
    function toggleCoferenceRevenueInput(e) {
        if(e.target === conferenceYes) {
            conferenceRevenue.classList.remove('hidden')
        }
        if(e.target === conferenceNo) {
            conferenceRevenueInput.value = 0;
            conferenceRevenue.classList.add('hidden');
        }
    };

        function removeFadeOut(el, speed) {
        var seconds = speed/1000;
        el.style.transition = "opacity "+seconds+"s ease";
        el.style.opacity = 0;
        setTimeout(function() {
            el.remove();
        }, speed);
    } 


        document.querySelector('body').addEventListener('click', function(event) {
        let target = document.activeElement;

        if(target.id.includes('bestAvailable')) { 
            let bestAvailableTarget = target; 
            let discountField = document.getElementById(bestAvailableTarget.id).parentElement.parentElement.children[2].children[1];
            let proposedRate = document.getElementById(bestAvailableTarget.id).parentElement.parentElement.children[3].children[1];

            bestAvailableTarget.addEventListener('keyup', ()=> {
                let subtract = Number(bestAvailableTarget.value) * Number(discountField.value);
                let result = Number(bestAvailableTarget.value) - subtract;
                proposedRate.value = Math.round(result * 100) / 100;
            })  

            discountField.addEventListener('keyup', () => {
                let subtract = Number(bestAvailableTarget.value) * Number(discountField.value);
                let result = Number(bestAvailableTarget.value) - subtract;
                proposedRate.value = Math.round(result * 100) / 100;;
            }) 
        }
    });


</script>