<style>
  body {background-color: #F5F6F5;}
</style>
<h4 class="fontColorStyle">Dashboard</h4>
<hr>
<div class="container mt-3">
  <h5 id="userGreeting"></h5>
  <p>You have {{pendingCount}} proposals pending your review.</p>
  <p>Click <a href="proposals">here</a> to navigate to your outstanding proposals.</p>
</div>
<div class="container">
  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Today <i class="fas fa-clock"></i></h6>
      <p class="card-text">{{proposalsTodayLength}}</p>
    </div>
  </div>

  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Week <i class="fas fa-clock"></i></h6>
      <p class="card-text">{{proposalsWeekLength}}</p>
    </div>
  </div>

  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Month <i class="fas fa-clock"></i></h6>
      <p class="card-text">{{proposalsMonthLength}}</p>
    </div>
  </div>
</div>

<div id="timeCanvasContainer" class="mt-4"><canvas id="timeCanvas" width="900" height="400"></canvas></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<script src="/javascripts/greeting.js"></script>
<script>
setGreeting(userGreeting, currentHour, '{{{name}}}');

let groupArray = {{{groups}}};
renderDateChart();
function renderDateChart() {
        let months = [0,0,0,0,0,0,0,0,0,0,0,0]
        for(var i = 0; i < groupArray.length; i++) {
            let date = new Date(groupArray[i].time);
            let month = date.getMonth();
            months[month]++;
        }
        var dateCanvas = document.getElementById("timeCanvas").getContext('2d');
        var timeChart = new Chart(dateCanvas, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: 'Proposal Submission Frequency by Month',
                data: months,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
};
</script>