<h4 id="userGreeting"></h4>
<p>You have {{pendingCount}} proposals pending your review.</p>
<p>Click <a href="proposals">here</a> to navigate to your outstanding proposals.</p>

<div class="container">
  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Today</h6>
      <p class="card-text">{{proposalsTodayLength}}</p>
    </div>
  </div>

  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Week</h6>
      <p class="card-text">{{proposalsWeekLength}}</p>
    </div>
  </div>

  <div class="card proposalCard" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title">Proposals</h5>
      <h6 class="card-subtitle mb-2 text-muted">Month</h6>
      <p class="card-text">{{proposalsMonthLength}}</p>
    </div>
  </div>
</div>


<script src="/javascripts/greeting.js"></script>
<script>
setGreeting(userGreeting, currentHour, '{{{name}}}');
</script>